@media(max-width:600px) {
    .menu1 {
        display: none !important;
    }

    #list {
        font-size: 30px !important;
        margin-left: 100px !important;
    }

    .category {
        padding: 10px;
        background-color: rgb(200, 220, 243);
        border-radius: 10px;
    }

    .demos {

        display: flex;
        flex-direction: column;
    }

    .demos button:hover {

        background-color: rgb(200, 220, 243);
        border-radius: 10px;
    }

    .pages {
        display: flex;
        flex-direction: column;
    }

    .pages button:hover {
        background-color: rgb(200, 220, 243);
        border-radius: 10px;
    }

    .accounts {
        display: flex;
        flex-direction: column;
    }

    .accounts button:hover {
        background-color: rgb(200, 220, 243);
        border-radius: 10px;
    }

    .megamenus {
        display: flex;
        flex-direction: column;
    }

    .megamenus button:hover {
        background-color: rgb(200, 220, 243);
        border-radius: 10px;
    }

    .profiles {
        width: 60%;
        margin-right: 100px;
        background-color: antiquewhite;
    }

    #pattern {
        position: absolute;
        top: 60px;
        left: -648px;
    }

    #A {
        position: absolute;
        top: 500px !important;
        left: 340px !important;
        border-radius: 10px;
    }
    .edits{
        font-size: 20px !important;
    }
    .bi-tv{
        font-size: 50px !important;
    }
    .bi-facebook{
        font-size: 50px !important;    
    }
    .Certified-Courses .bi-patch-check-fill{
        font-size: 50px !important;  
    }
    .instructor{
        background-image: linear-gradient(rgb(106, 209, 220),rgb(86, 138, 144),rgb(155, 220, 233));
        height: 220px !important;
    }
}

@media(max-width:800px) {
    .menu1 {
        display: none !important;
    }

    #list {
        font-size: 30px !important;
        margin-left: 250px;
    }

    .demos {
        display: flex;
        flex-direction: column;
    }

    .demos button:hover {
        background-color: rgb(200, 220, 243);
        border-radius: 10px;
    }

    .pages {
        display: flex;
        flex-direction: column;
    }

    .pages button:hover {
        background-color: rgb(200, 220, 243);
        border-radius: 10px;
    }

    .accounts {
        display: flex;
        flex-direction: column;
    }

    .accounts button:hover {
        background-color: rgb(200, 220, 243);
        border-radius: 10px;
    }

    .megamenus {
        display: flex;
        flex-direction: column;
    }

    .megamenus button:hover {
        background-color: rgb(200, 220, 243);
        border-radius: 10px;
    }

    .profiles {
        position: absolute;
        right: -100px !important;
        top: 60px !important;
        background-color: rgb(238, 236, 235);
    }

    #circle {
        position: absolute;
        left: -70px;
    }

    #star {
        position: absolute;
        top: 40px;
        left: 250px;
    }

    #pattern {
        position: absolute;
        top: 60px;
        left: -248px;
    }

    #A {
        position: absolute;
        top: 444px;
        left: 520px;

    }
    .instructor{
        background-image: linear-gradient(rgb(106, 209, 220),rgb(86, 138, 144),rgb(155, 220, 233));
        height: 220px !important;
    }

}

@media(min-width:800px) {

    #list {
        display: none;
    }

    #lists {
        display: none !important;
    }

    .category {
        padding: 10px;
        background-color: rgb(200, 220, 243);
        border-radius: 10px;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .section-header {
        position: relative;
        margin-top: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #circle {
        position: absolute;
        top: -130px;
        left: -50px;
    }

    #star {
        position: absolute;
        top: -20px;
        left: 250px;
    }

    #pattern {
        position: absolute;
        top: 60px;
        left: -148px;
    }

    #A {
        margin-left: 430px;
    }
    .start-Teaching{
        margin-top: 80px;
    }
}
